body {
  background-image: url("../imagens/fundo.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
  background-origin: content-box;
  margin-top: 5%;
  margin-right: 8%;
  margin-bottom: 5%;
  margin-left: 8%;
}

h1 {
  color: limegreen;
  font-family: "Times New Roman";
  font-size: 28px;
}

p {
	font-family: "Arial";
	text-align: justify;
}

html, body {
  min-height: 100%;
}

blockquote {
	text-align: justify;
	text-decoration: oblique;
}