h1 {
  color: limegreen;
  font-family: "Times New Roman";
  font-size: 28px;
  margin-bottom: 30px;
}

body {
  background-image: url("../imagens/fundo.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
  background-origin: content-box;
  margin-top: 5%;
  margin-right: 8%;
  margin-bottom: 5%;
  margin-left: 8%;
  font-family: "Arial";
}

td {
  border: 2px solid silver;
}

table {
  width: 600px;
  border-collapse: collapse;
  text-align: center;
}